.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #3366ff;
    border-radius: 15px;
}

.button:hover{
    box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
    transition-delay: 1ms;
}

.card-header{
    color: #3366ff;
}
.center{
    text-align: center;
}