// En el modo ordenador
.grid{
  // Si tenemos que comparar los dos medicamentos, dos columnas
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

// Si la pantalla es más pequeña, solo tendremos una columna
@media screen and (max-width: 480px) {

  .grid{
    grid-template-columns: 1fr;
  }
}

.elem{
  padding-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.card-header {
  color: #3366ff;
  font-size: 220%;
  border-radius: 8px;
  text-align: center;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.87);
  margin-bottom: 20px;
}

#ayuda {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  background-color: rgba(242, 242, 242, 0.95);
  border-radius: 5px;
  min-width: 250px;
  // Para que el texto quede más bonito
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: justify;
}

.button-info {
  display: inline-block;
  max-width: 800px;
  position: auto;
  padding: 15px 23px;
  color: white;
  background-color: #3366ff;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 15px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 100%;
}

.button-info:hover {
  box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
  transition-delay: 1ms;
}
.button-volver {
  display: inline-block;
  max-width: 800px;
  position: auto;
  padding: 15px 23px;
  color: white;
  background-color: #3366ff;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 15px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 100%;
}

.button-volver:hover {
  box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
  transition-delay: 1ms;
}
