<body>

  <div class = "grid">


    <div class = "Medicamento_1" >
     
      <div class="card-header">
        {{nombres[0]}}
      </div>
      <div class = "Encontrado"*ngIf="medEncontrado1()" >
      <div class="card-body">

        <div id="medicamento">
          <app-title-parrafo titulo='{{"COMPARE.CONTRA" | translate}}'info={{infoContraindicaciones[0]}}></app-title-parrafo>
        </div>

        <div id="ayuda">
          <button class = "button-info" type="button"(click)="accederPagMedicamento(nombres[0])">{{"COMPARE.BUSCAR" | translate}}</button>
        </div>
       
      </div>
    </div>
      <div *ngIf="datosCargados1 && datosCargados2">
        <div class = "NOEncontrado" >
          
        <div class="card-body-error animate__animated animate__fadeIn" *ngIf="!medEncontrado1()">
          <div class="card-body">
          <h4> {{"MEDICINE.MESSAGE_NOTFOUND" | translate }} {{nombres[0]}}</h4>
          <button type="button" class="button-volver"
          (click)="volver()">{{"COMPARE.BACK_TO"|translate}}</button>
          <br>
          <br>
          <button type="button" class="button-volver" onclick="location.href='https://caracas.juliocastrodev.duckdns.org/solicitud';">{{"MEDICINE.REGISTRAR"| translate: {nombres:nombre}   }}</button>    
        </div>
        </div>
        <div class="card-body-error animate__animated animate__fadeIn" *ngIf="medEncontrado1() && !medicamentoDisponible1()">
          <div class="card-body">
          <h4> {{"COMPARE.MESSAGE_NOTFOUND" | translate }} {{nombres[0]}}</h4>
          <button type="button" class="button-volver"
            (click)="volver()">{{"COMPARE.BACK_TO"|translate}}</button>
            <br>
            <br>
            <button type="button" class="button-volver" onclick="location.href='https://caracas.juliocastrodev.duckdns.org/solicitud';">{{"MEDICINE.REGISTRAR"| translate: {nombres:nombre}   }}</button>      
        </div>
      </div>
     
      </div>
      </div>
    </div>

    <div class = "Medicamento_1">
      <div class="card-header">
        {{nombres[1]}}
      </div>

      <div class = "Encontrado"*ngIf="medEncontrado2()" >
      <div class="card-body">

        <div id="medicamento">
          <app-title-parrafo titulo='{{"COMPARE.CONTRA" | translate}}'info="{{infoContraindicaciones[1]}}"></app-title-parrafo>
        </div>

        <div id="ayuda">
          <button class = "button-info" type="button"(click)="accederPagMedicamento(nombres[1])">{{"COMPARE.BUSCAR" | translate}}</button>
        </div>
      </div>
    </div>
      <div *ngIf="datosCargados1 && datosCargados2">
        <div class = "NOEncontrado" >
        <div class="card-body-error animate__animated animate__fadeIn" *ngIf="!medEncontrado2()">
          <div class="card-body">
          <h4> {{"MEDICINE.MESSAGE_NOTFOUND" | translate }} {{nombres[1]}}</h4>
          <button type="button" class="button-volver"
            (click)="volver()">{{"COMPARE.BACK_TO"|translate}}</button>
            <br>
            <br>
            <button type="button" class="button-volver" onclick="location.href='https://caracas.juliocastrodev.duckdns.org/solicitud';">{{"MEDICINE.REGISTRAR"| translate: {nombres:nombre}   }}</button>      
        </div>
      </div>
    
        <div class="card-body-error animate__animated animate__fadeIn" *ngIf="medEncontrado2() && !medicamentoDisponible2()">
          <div class="card-body">
          <h4> {{"COMPARE.MESSAGE_NOTFOUND"| translate }} {{nombres[1]}}</h4>
          <button type="button" class="button-volver"
            (click)="volver()">{{"COMPARE.BACK_TO"|translate}}</button>
            <br>
            <br>
            <button type="button" class="button-volver" onclick="location.href='https://caracas.juliocastrodev.duckdns.org/solicitud';">{{"MEDICINE.REGISTRAR"| translate: {nombres:nombre}   }}</button>      
        </div>
      </div>
      </div>
    </div>
      
   </div>

  </div>
</body>

<app-nav-button></app-nav-button>

  <!--lo de antesss
 
      
    </div>

  </div>
</body>

<app-nav-button></app-nav-button>-->

