<app-center-layout>
  <div class="card animate__animated animate__fadeIn">
    <h4 class="card-header">{{ "REGISTER.TITLE" | translate }}- {{ "REGISTER.MAIL_CODE" | translate }}</h4>
    <div class="card-body">
      <div class="p-3">
        <p>{{ "REGISTER.CODE_MESSAGE" | translate }}</p>
        <input style="width: 100%;" type="text" [(ngModel)]="otp" required />
      </div>

      <!--click -> go to Bienvenida-->
      <button
        type="button"
        class="btn btn-primary button mt-2"
        (click)="register()"
      >{{ "LOGIN.ENTER_BUTTON" | translate }}
    
      </button>
      <div class="p-4 center">
        <strong id="info-page-server-status" *ngIf="mensaje === 'Datos incorrectos'">{{ "IMPOSTOR.MESSAGE" | translate }}<br></strong>
      </div>
    </div>
  </div>
</app-center-layout>
