.barrNav{
    
    height: 50px;
    background-color: #cce6ff;
    border-style: solid;
    border-color:#7a8ab8;
    border-left: hidden;
    border-right: hidden;
}

.username{
    float: left;
    margin-top: 10px;
    margin-left: 2%;
    font-size: 120%;
    max-width: 20%;
    max-height: 60%;
    overflow: hidden;
} 

.apellidos{
  float: left;
  margin-top: 10px;
  margin-left: 3px;
  font-size: 120%;
  max-width: 100%;
  max-height: 60%;
  overflow: hidden;
}
 
// Si la pantalla es más pequeña
@media screen and (max-width: 480px) {
 
    .form-select{
        width: 2px;
        margin-top: 2px;
        float: right;
      }

      .apellidos{
        display: none;
      }
  }

.card-header {
    color: #3366ff;
    letter-spacing: 1px;
    text-align: center;
}

#box{
    min-width: 300px;
    max-width: 50%;
  }

.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #3366ff;
    border-radius: 15px;
    font-family: 1;
}

.button:hover{
    box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
    transition-delay: 1ms;
}