<div class=barrNav> 
    <div>
        <h5 class = "username" *ngIf = "obtenerNombre()">{{nombre}}</h5>
        <h5 class = "apellidos" *ngIf = "obtenerApellidos()">{{apellidos}}</h5>
    </div>
</div>

<app-center-layout>

    <div id = "box" class="card animate__animated animate__backInLeft">
        <h1 class="card-header">{{"INQUIRIES.CONSULTA"|translate}}</h1>
        
        <div  class="card-body">
            <p>{{"INQUIRIES.NOMBRE_DOCTOR"|translate}} {{doctorNombre}}</p>
            <p>{{"INQUIRIES.FECHA"|translate}} {{fecha}}</p>
            <p>{{"INQUIRIES.OBS"|translate}} {{observaciones}}</p>
        </div>
        <hr>
        <button type="button" class="btn btn-primary button" (click)="goToConsultas()">{{"INQUIRIES.VOLVER_CONSULTAS"|translate}}</button>
        <hr>
    </div>
    
</app-center-layout>

<app-nav-button></app-nav-button>