<div class=barrNav>
    <div>
        <h5 class="username" *ngIf="obtenerNombre()">{{nombre}}</h5>
        <h5 class="apellidos" *ngIf="obtenerApellidos()">{{apellidos}}</h5>
    </div>
    
    <button class="restablecer" type="submit" (click)="restablecer()">{{ "INQUIRIES.REST" | translate}}</button>
    <div class="form" *ngIf="necesitoCalendario() === false">
        <button class="icono-busqueda" type="submit" (click)="onSubmit()"><i class="fa fa-search"></i></button>
        <input type="text" class="form-control" name="filterEntry" [placeholder]="'INQUIRIES.SEARCH_BAR' | translate" [(ngModel)]="filterEntry">
    </div>

    <!-- Si el usuario decide filtrar por fecha, muestro calendario -->
    <div class="calendario" *ngIf="necesitoCalendario()">
        <button class="icono-busqueda" type="submit" (click)="onSubmit()"><i class="fa fa-search"></i></button>
        <input class="form-control" id="fecha" type="button" (click)="d.toggle()" name="dp" [placeholder]="'INQUIRIES.SEARCH_BAR' | translate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="filterEntry">
    </div>


    <!-- hya que cambiar DNI por nombre -->

    <!-- Seleccion del tipo de filtrado que queremos introducir -->
    <select name="select" class="form-select" [(ngModel)]="field" (click)="borrarCampo()">
        <option value = "all">{{ "INQUIRIES.ALL" | translate}}</option>
        <option value = "fecha">{{ "INQUIRIES.DATE" | translate}}</option>
        <option value = "doctor" >{{ "INQUIRIES.DOCTOR" | translate}}</option>
    </select>

</div>

<!--Creo un cuadro donde introducir mis consultas-->
<app-center-layout>

    <div class="card animate__animated animate__backInLeft">
        <h1 class="card-header">{{ "INQUIRIES.HEADER_RECORDS" | translate}}</h1>
        <div class="card-body">

            <table class="table table-striped">
                <!--Cabecera de la tabla-->
                <thead>
                    <!-- Nueva fila con los campos principales -->

                    <!-- hay que cambiar DNI por nombre -->

                    <tr>
                        <th> {{ "INQUIRIES.DATE" | translate}} </th>
                        <th>{{ "INQUIRIES.DOCTOR" | translate}} </th>
                        <!--                        <th>{{ "INQUIRIES.DOCTOR_DNI" | translate}} </th>        -->
                        <th> +info </th>
                    </tr>
                </thead>

                <!-- Cuerpo de la tabla -->
                
                <tbody *ngIf="consultas">
                    <!-- Como queremos que se duplique tantas veces como datos en la tabla tengamos -->
                    <tr *ngFor="let c of consultas.data">
                        <!--<tr *ngFor = "let c of consultas | filter: filterEntry: field">-->
                        <td> {{convertirFecha(c.fechaRealizacion)}}</td>
                        <td> {{c.doctorNombre}} </td>
                        <!--                        <td> {{c.doctorDNI}} </td>                              -->
                        <td>
                            <button type="button" class="botonInfo" (click)="conseguirInfo(c.idConsulta)"> + </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!consultas">
                    <h4 class="p-2">{{ "INQUIRIES.NO_RES" | translate}}</h4>
                </tbody>
            </table>

            <div class="numPag">

                <button class="flecha-retroceder" style="font-size:24px" *ngIf="masPaginasIzq()" (click)="antPag()">
                    <i class="fa fa-caret-square-o-left" ></i>
                </button>

                <h5> {{consultas?.metadata?.pageNumber}}/{{consultas?.metadata?.totalPages}} </h5>

                <button class="flecha-avanzar" style="font-size:24px" *ngIf="masPaginasDcha()" (click)="sigPag()">
                    <i class="fa fa-caret-square-o-right"></i>
                </button>
            </div>
        </div>
    </div>



</app-center-layout>

<app-nav-button></app-nav-button>