<app-center-layout>
  <div class="card animate__animated animate__fadeIn">
    <h4 class="card-header">{{ "REGISTER.TITLE" | translate }} - Email</h4>
    <div class="card-body">
      <div class="p-3">
        <p>{{ "REGISTER.EMAIL_MESSAGE" | translate }}</p>
          <p *ngIf = "obtenerEmail()">{{emailCensored}}</p>

        <input type="text" [(ngModel)]="email" required />
      </div>

      <!--click -> go to Bienvenida-->
      <button
        type="button"
        class="btn btn-primary button mt-2"
        (click)="register()"
      >{{ "LOGIN.ENTER_BUTTON" | translate }}
    
      </button>
      <div class="p-4 center">
        <strong id="info-page-server-status" *ngIf="mensaje === 'Datos incorrectos'">{{ "IMPOSTOR.MESSAGE" | translate }}<br></strong>
      </div>
    </div>
  </div>
</app-center-layout>
