#box{
  min-width: 300px;
  max-width: 50%;
}

.card-header{
  text-align: center;
  color: #3366ff;
}
.form-select{
  width: 38%;
  margin-left: auto;
  margin-right: auto;
}


#descripcion{
  font-size: 20px;
  font-weight: 80px;
  text-align: justify;
  margin-bottom: 20px;
}

.buttonCompare{
  display: block;
  width: 50%;
  min-width: 220px;
  height: 30px;
  background-color: #3366ff;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  color: white;
}

.buttonCompare:hover{
  box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
  transition-delay: 1ms;
}

#delete-icon:hover{
  color: red;
}

#send-icon:hover{
  color: green;
}

#add-icon{
  margin-left: 1px;
}

#add-icon:hover{
  color: blue;
}

.icon{
  display: inline-block;
  width: 5%;
  min-width:25px;
  background-color: white;
  border-radius: 1%;
  font-size: 20px;
  border-style: none;
}

.align-text{
  text-align: center;
  margin-top: 7px;
}

#mensajeError{
  color: red;
  text-align: center;
}