<!-- Para poder utilizar las fuentes -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

<app-center-layout>

    <div id="box" class="card animate__animated animate__backInLeft">
        <h1 class="card-header">Techsuite-Wiki</h1>

        <div class="card-body">
            <h3 id="descripcion">{{ "WIKI.DESCRIPTION1" | translate}}</h3>
            <form [formGroup]="formulario">
            <div formArrayName="medicamentos">
                <select name="select"  class = "form-select" [(ngModel)] = "field" [ngModelOptions]="{standalone: true}" (click) = "guardarTipoMedicamento(field)">
                     <option value = "Medicamento">{{ "WIKI.MEDICINE" | translate}}</option>
                    <option value = "Producto natural">{{ "WIKI.NATURAL_PRODUCT" | translate}}</option>
                    <option value = "Enfermedad" >{{ "WIKI.DISEASE" | translate}}</option>
                </select>
                
                <div *ngFor="let medicamento of medicamentos.controls; let i = index">

                    <!-- Si tenemos más de un medicamento -->
                    <div class = "align-text" *ngIf="numEltos > 1">
                        <input id="inputVarios" type="text" [(ngModel)]="medicamentos.value[i].text" [placeholder] ="'WIKI.PLACEHOLDER' | translate"  [ngModelOptions]="{ standalone: true }" />
                        <button type="submit" id="delete-icon" class= "icon" id="delete-icon" (click)="borrarMedicamento(i)"><i class="fa fa-times"></i></button>
                        <button id = "add-icon" class = "icon" (click)="compararMedicamentos()"><i class="fa fa-plus"></i></button>
                    </div>
                    
                    <!-- Si solo tenemos un solo medicamento-->
                    <div class = "align-text" *ngIf="numEltos == 1">
                        <input id="inputUnico" type="text" [(ngModel)]="medicamentos.value[i].text" [placeholder] ="'WIKI.PLACEHOLDER' | translate" [ngModelOptions]="{ standalone: true }" />
                        <button id = "delete-icon" class= "icon" type="reset"><i class="fa fa-times" type="reset"></i></button>
                        <button id = "add-icon" class = "icon" (click)="compararMedicamentos()
                        "><i class="fa fa-plus"></i></button>
                        <button id = "send-icon" class= "icon" (click)="avanzarPagMedicamento()"><i class="fa fa-send"></i></button>
                    </div>

                    
                </div>

                <!-- En el caso de querer comparar varios medicamentos -->
                <div *ngIf="numEltos > 1">
                    <button class="buttonCompare" (click)="avanzarPagComparacion()">{{ "WIKI.COMPARE" | translate}}</button>
                </div>

                <div class="p-3 center" id="">
                    <strong id="mensajeError" *ngIf="mostrar_mensaje === 1">{{ "WIKI.MESSAGE1" | translate}}</strong>
                    <strong id="mensajeError" *ngIf="mostrar_mensaje === 2">{{ "WIKI.MESSAGE2" | translate}}</strong>
                    <strong id="mensajeError" *ngIf="mostrar_mensaje === 3">{{ "WIKI.MESSAGE3" | translate}}</strong>
                    <strong id="mensajeError" *ngIf="mostrar_mensaje === 4">{{ "WIKI.MESSAGE4" | translate}}</strong>
                </div>
            </div>
            </form>
        </div>
    </div>

</app-center-layout>

<app-nav-button></app-nav-button>