<app-center-layout>
  
    <div class="card animate__animated animate__fadeIn">
      <h4 class="card-header">Login</h4>
      <div class="card-body">
        <div class="p-3">
          <p>{{ "LOGIN.USERNAME_FIELD" | translate }}</p>
          <input type="text" [(ngModel)]="user.dni" required />
          <p class="pt-2">{{ "LOGIN.PASSWORD_FIELD" | translate }}</p>
          <input type="password" [(ngModel)]="user.password" required />
        </div>
  
        <!--click -> go to Bienvenida-->
        <button
          type="button"
          class="btn btn-primary button mt-2"
          (click)="logIn()"
        >{{ "LOGIN.ENTER_BUTTON" | translate }}
        </button>
        <button id="registro" type="button" class="btn btn-primary button mt-2" (click)="registro()">{{ "REGISTER.TITLE" | translate }}</button>
  
        <div class="p-4 center">
          <strong id="info-page-server-status" *ngIf="mensaje === 'Datos incorrectos'">{{ "LOGIN.MESSAGE1" | translate }}<br>{{"LOGIN.MESSAGE2"| translate}}</strong>
        </div>
      </div>
    </div>
  </app-center-layout>
  