<div class="barrNav sticky-top">
  <img
    class="logo"
    src="https://drive.google.com/uc?id=11S5p_sDmewpkVvXgnvdmj8SmkhX1RIJf"
    alt="Logo"
    width="40px"
    height="40px"
  />
  
  <app-nav-bar-element id="inicio" link="/" *ngIf= "rutaActual()">{{ "NAV.HOME_BUTTON" | translate }}</app-nav-bar-element>
  <app-nav-bar-element id="Login" link="/login" *ngIf= "rutaActual()">Login</app-nav-bar-element>
  <app-nav-bar-element id="menu" link="/base/pagina-bienvenida" *ngIf= "rutaActual() === false && rutaImpostor() == false && !ruta404()">{{ "NAV.MENU_BUTTON" | translate }}</app-nav-bar-element>

  <button type="button" class="logOut" *ngIf="!rutaActual() && !ruta404()" (click)="logOut()"><i class="fa fa-sign-out"></i></button>
  
  <button type="button" class="spanishButton" (click)="toggleSpanish()">
    ESP
  </button>
  <button type="button" class="englishButton" (click)="toggleEnglish()">
    ENG
  </button>
</div>
