:host {
  display: inline;
  align-items: center;
  font-size: 1.5rem;
  gap: 3rem;
  left: 20%;
}

.barrNav {
  height: 43px;
  background-color: white;
  min-width: 300px;
}


.logo {
  margin-left: 8px;
}


button {
  border: none;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}


.logOut {
  top: 5px;
  right: 86px;
  color: #000;
  position:absolute;
  font-size: 20px;
}


.spanishButton {
  background-image: url("../../../assets/español.png");
  background-size: 100%;
  top: 5px;
  right: 53px;
  position:absolute;
  color: transparent;
}


.englishButton {
  background-image: url("../../../assets/ingles.png");
  background-size: 100%;
  top: 5px;
  right: 20px;
  position:absolute;
  color: transparent;
}


.logOut:hover {
  font-size: 20px;
}


.spanishButton:hover {
  background: white;
  color: #3366ff;
  box-shadow: inset 0 0 0 3px #3366ff;
  transition-delay: 7ms;
  font-size: 11px;
  position:absolute;
}


.englishButton:hover {
  background: white;
  color: #3366ff;
  box-shadow: inset 0 0 0 3px #3366ff;
  transition-delay: 7ms;
  font-size: 11px;
  position:absolute;
}


