<div class=barrNav> 
    <div>
        <h5 class = "username" *ngIf = "obtenerNombre()">{{nombre}}</h5>
        <h5 class = "apellidos" *ngIf = "obtenerApellidos()">{{apellidos}}</h5>
    </div>
</div>
<app-center-layout>
    <div id = "box" class="card animate__animated animate__backInLeft">
        <h1 class="card-header">Análisis</h1>
        
        <div class="card-body" *ngIf="analisisSangre()">
            
            <p>{{"INQUIRIES.TIPO_PRUEBA"|translate}}: {{tipoPrueba}}</p>
            <p>{{"INQUIRIES.FECHA"|translate}}: {{fechaRealizacion}}</p>
            <p>{{"INQUIRIES.TRABAJ"|translate}}: {{trabLabNombre}}</p>
            <p>{{"INQUIRIES.ELEC"|translate}}: {{electrolitos}}</p>
            <p>{{"INQUIRIES.GLUC"|translate}}: {{glucosa}}</p>
            <p>{{"INQUIRIES.COLESTEROL"|translate}}: {{colesterol}}</p>
            <p>{{"INQUIRIES.TRIG"|translate}}: {{trigliceridos}}</p>
            <p>{{"INQUIRIES.BILI"|translate}}: {{bilirrubina}}</p>
           
            
        </div>
        <div class="card-body" *ngIf="pruebaPCR()">
            
            <p>{{"INQUIRIES.TIPO_PRUEBA"|translate}}: {{tipoPrueba}}</p>
            <p>{{"INQUIRIES.FECHA"|translate}}: {{fechaRealizacion}}</p>
            <p>{{"INQUIRIES.TRABAJ"|translate}}: {{trabLabNombre}}</p>
            <p>{{"INQUIRIES.FLUO"|translate}}: {{fluorescencia}}</p>
            
            
        </div>
        <hr>
        <button type="button" class="btn btn-primary button" (click)="goToAnalisis()">{{"INQUIRIES.VOLVER_ANALISIS"|translate}}</button>
        <hr>
    </div>
</app-center-layout>
<app-nav-button></app-nav-button>
