<!-- Boton flotante de la esquina inferior derecha -->

<div class = "botones">
    <input type = "checkbox" id = "btn-mas">
    <div class = "paginas">

        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        <button type="button" class="boton1" routerLink='/base/wiki'>
            <img src="assets/wiki.ico" alt="Wiki" width="100%" height="100%"/> 
            <div class="texto-encima">WIKI</div> 
        </button>
        <button type="button" class="boton2" (click) = avanzarAnalisis()>
            <img src="assets/analisis.ico" alt="Analisis" width="100%" height="100%"/>  
            <div class="texto-encima">{{ "NAV_BUTTON.ANALYSIS_BUTTON" | translate }}</div>
        </button>
        <button type="button" class="boton3" (click) = avanzarConsultas()>
            <img src="assets/consultas.ico" alt="Consultas" width="100%" height="100%"/> 
            <div class="texto-encima">{{ "NAV_BUTTON.RECORD_BUTTON" | translate }}</div>
        </button>

    </div>

    <div class = "btn-mas">
        <label for = "btn-mas" class = "icon-mas2"><img src="assets/mas.ico" alt="Más opciones" width="100%" height="100%"/></label>
    </div>
</div>
