#btn-mas{
    //Oculto el checkbox
    display: none;
}

.botones{
    position: fixed;
    bottom: 2%;
    right: 5%;
}

.paginas{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
}

.texto-encima{
    transform: translate(0%, -230%);
}


.paginas button, .icon-mas2{
    // Para que salga en vertical
    display: block;
    width: 110px;
    height: 110px;
    background: none;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
    border-radius: 50%;
}

.paginas button:hover{
    background: white;
    color: grey;
}

//Determino cuándo saldrán el resto de iconos
.paginas button {
    margin-bottom: -5%;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~ .paginas button{
    margin-bottom: 5%;
    opacity: 1;
    visibility: visible;
}

.icon-mas2{
    cursor: pointer;
    background: none;
}


@media screen and (max-width: 480px){
    .paginas button, .icon-mas2{
        width: 70px;
        height: 70px;
    }

    .paginas{
        font-size: 9px;
    }
}