.card-header {
    color: #3366ff;
    letter-spacing: 1px;
    text-align: center;
}
.card{
    min-width: 300px;
    max-width: 50%; 
}
p { 
    font-size: 125%;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: #666666;
    letter-spacing: 1.5px;
    text-align: center;
}
    
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #3366ff;
    border-radius: 15px;
    font-family: 1;
}

.button:hover{
    box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
    transition-delay: 1ms;
}