.welcome-box{
    min-width: 240px;
    height: auto;
    max-width: 50%;
    background: white;
    color: white;
    left: 50%;
    position: absolute;
    transform: translate(-50%,20%);
    box-sizing: border-box;
    border-radius: 8px;
    //espaciado interior(superior, laterales)
    padding: 70px 30px 30px;
}
.welcome-box .foto-saludo-hombre,
.welcome-box .foto-saludo-mujer,
.welcome-box .mano-saludo{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -12%;
    border-radius: 30%;
}

.welcome-box .card-header{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
    color: #666666;
    letter-spacing: 1.5px;
    border-style: hidden;
    background-color: white;
}

.welcome-box .boton1,
.welcome-box .boton2,
.welcome-box .boton3{
    display: inline-block;
    position: auto;
    padding: 15px 27px;
    color: white;
    background-color: #3366ff;
    font-size: 15px;
    transition: 0.2s;
    border-radius: 15px;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.welcome-box .boton1:hover,
.welcome-box .boton2:hover,
.welcome-box .boton3:hover{
    box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
    transition-delay: 1ms;
}

.welcome-box .boton1{
    margin-top: 65px;
}

.welcome-box .boton2,
.welcome-box .boton3
{
    margin-top: 20px;
}