<body>
    <link rel="stylesheet" type="text/css" href="pagina-bienvenida.component.scss">
    
    <div class="card animate__animated animate__fadeIn">
        <div class="welcome-box">
            <!--Aqui va el senior, el alt es lo que te sale cuando pones el raton encima-->
            <div style="display: flex; justify-content: center;" *ngIf= "obtenerGenero()">
                <img class="foto-saludo-hombre" *ngIf="genero == 'Hombre'" src= "assets/saludo-hombre.png" alt="Saludos" width="100px">
                <img class="foto-saludo-mujer" *ngIf="genero == 'Mujer'" src= "assets/saludo-mujer.png" alt="Saludos" width="100px">
                <img class="mano-saludo" *ngIf="genero == 'Otro'" src= "assets/mano-saludo.png" alt="Saludos" width="100px">
            </div>
            <h1 class = "card-header">{{ "WELCOME.GREETINGS" | translate }}</h1>
            <h1 class="card-header" *ngIf="obtenerNombre()">{{nombre}}</h1>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
            <div class="botones">
                <button type="button" class="boton1" (click) = avanzarConsultas()>{{ "WELCOME.RECORD_BUTTON" | translate }}</button>
                <button type="button" class="boton2" (click) = avanzarAnalisis()>{{ "WELCOME.ANALYSIS_BUTTON" | translate }}</button>
                <button type="button" class="boton3" routerLink='/base/wiki'>Techsuite-Wiki</button>
                <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
            </div>
        </div>
    </div>
</body>