.card-header {
    color: #3366ff;
    letter-spacing: 1px;
    text-align: center;
}
.card{
    width: auto;
}

table tr:nth-child(even) {
    background-color: #cce6ff;
}

table tr:nth-child(odd) {
    background-color: white;
}

  
.barrNav{
    height: 50px;
    background-color: #cce6ff;
    border-style: solid;
    border-color:#7a8ab8;
    border-left: hidden;
    border-right: hidden;
}

.icono-busqueda{
    display: block;
    float: right;
    margin-top: 8px;
    margin-right: 1%;
    width: 28px;
    border-radius: 50%;
    background-color: white;
}  
.restablecer{
  display: block;
  float: right;
  margin-top: 8px;
  margin-right: 1%;
  width: 20%;
  max-width: 100px;
  border-radius: 10%;
  background-color: white;
}
// Valido tanto para fechas como para busqueda de otro tipo
.form-control{
    width: 25%;
    float: right;
    min-width: 100px;
    display: block;
    margin-right: 0.5%;
    margin-top: 2px;
}

.form-select{
    width: auto;
    margin-top: 2px;
    margin-right: 0.5%;
    float: right;
    display: block;
  }

.username{
    float: left;
    margin-top: 10px;
    margin-left: 2%;
    font-size: 120%;
    max-width: 20%;
    max-height: 60%;
    overflow: hidden;
}

// Si la pantalla es más pequeña, solo tendremos una columna
@media screen and (max-width: 480px) {

    .restablecer{
      display: block;
      float: right;
      margin-top: 8px;
      margin-right: 1%;
      width: 20%;
      max-width: 100px;
      font-size: 75%;
      border-radius: 10%;
      background-color: white;
    }
    .form-select{
        width: 2px;
        margin-top: 2px;
        float: right;
      }
  }

  .flecha-avanzar{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    float: right;
  }
 
  .flecha-retroceder{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    float: left;
  }
 
  .numPag > h5{
    text-align: center;
  }
 
  .numPag{
    width: 100%;
  }  

    //////////////////////////////////////7
.botonInfo {
  display: inline-block;
  position: auto;
  color: white;
  background-color: #3366ff;
  font-size: 15px;
  transition: 0.2s;
  border-radius: 15px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.botonInfo:hover{
  box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
  transition-delay: 1ms;
}