<div class=barrNav>

    <h5 class="username" *ngIf="obtenerNombreApellidos()">{{nombre}}</h5>
    <button class="restablecer" type="submit" (click)="restablecer()">{{ "INQUIRIES.REST" | translate}}</button>
    <div class="form" *ngIf="necesitoCalendario() === false">
        <button class="icono-busqueda" type="submit" (click)="onSubmit()"><i class="fa fa-search"></i></button>
        <input type="text" class="form-control" name="filterEntry" [placeholder]="'INQUIRIES.SEARCH_BAR' | translate" [(ngModel)]="filterEntry">
    </div>
    
    <!-- Si el usuario decide filtrar por fecha, muestro calendario -->
    <div class="calendario" *ngIf="necesitoCalendario()">
        <button class="icono-busqueda" type="submit" (click)="onSubmit()"><i class="fa fa-search"></i></button>
        <input class="form-control" id="fecha" type="button" (click)="d.toggle()" name="dp" [placeholder]="'INQUIRIES.SEARCH_BAR' | translate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="filterEntry">

    </div>

    <!-- Seleccion del tipo de filtrado que queremos introducir -->
    <select name="select" class="form-select" [(ngModel)]="field">
        <option value = "all">{{ "INQUIRIES.ALL" | translate}}</option>
        <option value = "fecha">{{ "INQUIRIES.DATE" | translate}}</option>
        <option value = "tipoPrueba" >{{ "INQUIRIES.TESTS" | translate}}</option>
        <!-- aqui no hace falta cambiar a nombre, ya está puesto genérico 'laboratorio'para referirse a nombre  -->
        <!-- quito por peticion laboratorio en filtro   (este se refiere al nombre)                             -->
        <!-- <option value = "laboratorio" >{{ "INQUIRIES.LAB" | translate}}</option>                           -->
    </select>

</div>

<!--Creo un cuadro donde introducir mis consultas-->
<app-center-layout>

    <div class="card animate__animated animate__backInLeft">
        <h1 class="card-header">{{ "INQUIRIES.HEADER_ANALYSIS" | translate}}</h1>
        <div class="card-body">
            <table class="table table-striped">
                <!--Cabecera de la tabla-->
                <thead>
                    <!-- Nueva fila con los campos principales -->
                    <tr>
                        <th> {{ "INQUIRIES.DATE" | translate}} </th>
                        <!-- quito por petición el nombre de personal de laboratorio en la tabla    -->
                        <!-- <th> {{ "INQUIRIES.LAB" | translate}} </th>                            -->
                        <!-- <th> {{ "INQUIRIES.LAB_DNI" | translate}} </th>                        -->
                        <th> {{ "INQUIRIES.TESTS" | translate}}</th>
                        <th> +info </th>
                    </tr>
                </thead>

                <!-- Cuerpo de la tabla -->
                
                <tbody *ngIf="pruebas">
                    <!-- Como queremos que se duplique tantas veces como datos en la tabla tengamos -->
                    <tr *ngFor="let c of pruebas.data">
                        <td> {{convertirFecha(c.fechaRealizacion)}} </td>
                        <!-- al igual que en la tabla principal, elimino por peticion el nombre del personal de laboratorio -->
                        <!-- <td> {{c.trabLabNombre}} </td>                                                                 -->
                        <!-- <td> {{c.trabLabDNI}} </td>                                                                    -->
                        <td> {{c.tipoPrueba}} </td>
                        <td> <button type="button" class="botonInfo" (click)="conseguirInfo(c.idPrueba)"> + </button> </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!pruebas">
                    <h4 class="p-2">{{ "INQUIRIES.NO_RES" | translate}}</h4>
                </tbody>
            </table>

            <div class="numPag">

                <button class="flecha-retroceder" style="font-size:24px" *ngIf="masPaginasIzq()" (click)="antPag()">
                    <i class="fa fa-caret-square-o-left" ></i>
                </button>

                <h5> {{pruebas?.metadata?.pageNumber}}/{{pruebas?.metadata?.totalPages}} </h5>

                <button class="flecha-avanzar" style="font-size:24px" *ngIf="masPaginasDcha()" (click)="sigPag()">
                    <i class="fa fa-caret-square-o-right"></i>
                </button>
            </div>

        </div>
    </div>

</app-center-layout>

<app-nav-button></app-nav-button>