@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

body{
  background: url(assets/bacteria.jpg) center top;
  background-size: cover;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
