<app-center-layout>
    <div class="card animate__animated animate__backInDown">
      <h1 class="card-header">Página no encontrada</h1>
      <div class="card-body">
        <p class="p-4"> La página a la que intenta acceder no existe. Revise la URL introducida, si se trata de un error póngase en contacto con el administrador.</p>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <button type="button" class="btn btn-primary button" (click)="goToHome()">Volver al inicio</button>
        
      </div>
    </div>
  </app-center-layout>
