body{
  padding-top: 20px;
}

.card-header {
  color: #3366ff;
  font-size: 80px;
  border-radius: 8px;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.87);
  margin-bottom: 20px;
  padding-top: 10px;
}

.card-body{
  background-color: rgba(242, 242, 242, 0.95);
  border-radius: 5px;
  min-width: 250px;
  // Para que el texto quede más bonito
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}

#ayuda {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-info {
  display: inline-block;
  max-width: 800px;
  position: auto;
  padding: 15px 23px;
  color: white;
  background-color: #3366ff;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 15px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 100%;
}

.button-info:hover {
  box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
  transition-delay: 1ms;
}
.button-ayuda {
  display: inline-block;
  max-width: 800px;
  position: auto;
  padding: 15px 23px;
  color: white;
  background-color: #3366ff;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 15px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 100%;
}

.button-ayuda:hover {
  box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
  transition-delay: 1ms;
}

.button-volver {
  display: flex;
  max-width: 400px;
  justify-content: center;
  padding: 15px 23px;
  color: white;
  background-color: #3366ff;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 15px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 100%;
}
.button-volver:hover {
  box-shadow: 0 0 10px #b3c6ff, 0 0 20px #b3c6ff, 0 0 20px #b3c6ff;
  transition-delay: 1ms;
}