<body>
  <div id="medicamento" *ngIf="medicamentoDisponible()">
    <div *ngFor="let med of infoMedicamento.data ">
      <div class="card-header">
        <h1>{{med.nombre}}</h1>
      </div>

      <div class="card-body">
        <div id="medicamento" >
          <app-title-parrafo titulo='{{"COMPARE.CONTRA" | translate}}' info={{med.contraindicaciones}}></app-title-parrafo>
          <app-title-parrafo titulo='{{"MEDICINE.POSO" | translate}}' info={{med.posologia}}></app-title-parrafo>
          <app-title-parrafo titulo='{{"MEDICINE.PROS" | translate}}' info={{med.prospecto}}></app-title-parrafo>
          <app-title-parrafo titulo='{{"MEDICINE.COMPOS" | translate}}' info={{med.composicion}}></app-title-parrafo>
        </div>
        <div id="ayuda">
          <button type="button" class="button-ayuda"onclick="location.href=medurl" [medurl]='med.url'>{{"COMPARE.BUSCAR" | translate }}</button>
        </div>

      </div>
   </div>
  </div>

  <div id="enfermedad" *ngIf="enfermedadDisponible()">
    <div *ngFor="let enf of infoEnfermedad.data ">
        <div class="card-header">
          <h1>{{enf.nombre}}</h1>
        </div>
        <div class="card-body">
          <div id="enfermedad" >
            <app-title-parrafo titulo='{{"ENF.SINTOMAS" | translate}}' info={{enf.sintomas}}></app-title-parrafo>
            <app-title-parrafo titulo='{{"ENF.RECO" | translate}}' info={{enf.recomendaciones}}></app-title-parrafo>
          </div>
          <div id="ayuda">
            <button type="button" class="button-ayuda" onclick="location.href=enfurl" [enfurl]='enf.url'>{{"COMPARE.BUSCAR" | translate }}</button>
          </div>
        </div>
    </div>
  </div>

  <div id="homeopatia" *ngIf="productoNaturalDisponible()">
    <div *ngFor="let prod of infoProdNatural.data ">
      <div class="card-header">
        <h1>{{prod.nombre}}</h1>
      </div>
      <div class="card-body">
        <div id="homeopatia" >
          <app-title-parrafo titulo='{{"COMPARE.CONTRA" | translate}}' info={{prod.contraindicaciones}}></app-title-parrafo>
          <app-title-parrafo titulo='{{"MEDICINE.POSO" | translate}}' info={{prod.posologia}}></app-title-parrafo>
          <app-title-parrafo titulo='{{"MEDICINE.PROS" | translate}}' info={{prod.prospecto}}></app-title-parrafo>
          <app-title-parrafo titulo='{{"MEDICINE.COMPOS" | translate}}' info={{prod.composicion}}></app-title-parrafo>
        </div>

        <div id="ayuda">
          <button type="button" class="button-ayuda" onclick="location.href=produrl" [produrl]='enf.url'>{{"COMPARE.BUSCAR" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-error animate__animated animate__backInDown"
    *ngIf="datosCargados && !productoNaturalDisponible() && !enfermedadDisponible() && !medicamentoDisponible()">
    <div class="card-header">
    <h5>  {{"COMPARE.MESSAGE_NOTFOUND" | translate }} {{nombre}}</h5></div>
    <div class="card-body">
    <button type="button" class="button-volver"
      (click)="volver()">{{"COMPARE.BACK_TO"|translate}}</button>
      <br>
      <button type="button" class="button-volver" onclick="location.href='https://caracas.juliocastrodev.duckdns.org/solicitud';">{{"MEDICINE.REGISTRAR"| translate: {nombres:nombre}   }}</button>
  </div>
</div>

</body>

<app-nav-button></app-nav-button>
